html {
  background-image: url("../images/texture.jpg");
  font-size: 20px;
  color: cyan; 
}


/* fond du corps du site, juste un dégradé discret de gris */
body{	
  background: linear-gradient(120deg, #353535, #555555);
  width: 800px;
  height: 800px;
  margin: auto;
  margin-top: 20px;
}

header {
text-align: center;
text-shadow:0 0 20px #00FFFC,2px 3px 3px #141414, 0 0 100px #00D4D1;color:#00FFFC;
}
.titre {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 500;
}
.menu {display: flex;}
.menu > div {
  flex: 1;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px; 
  border-radius: 5px;
  width: 100px;
  height: 50px;
  /* centrage du texte dans la boite */
  display: flex;
  align-items: center;
  justify-content: center;
  /* taille du texte en REM
   (le calcul part sur la base que la police par défaut du navigateur
   est probablement en taille 16. 16 représente donc 100 %. 16*1.1=17.6) */
  font-size: 1.1rem;
  /* couleur de fond de la boite */
  background: linear-gradient(to bottom right, #995511, #773311);
  /* couleur et ombre du texte */
  color: yellow;
  text-shadow: 3px 3px black;
  /* bordure de la boite */
  border-radius: 10px;
  border: solid 1px #662200;
  /* ombre de la boite */
  box-shadow: inset 0 0 0.5em gold, 0 0 0.5em black;
}
.menu .box1 {transform: rotate(2deg);}
.menu .box2 {transform: rotate(-2deg);}  
.menu .box3 {transform: rotate(3deg);}
.menu .box4 {transform: rotate(-1deg);}



h3, h4, h5 {
  color: yellow;
}

/*
article {
  display: flex;
  margin: 20px;
  position: fixed;
  top: 200px;
}*/



a {
  color: orange;
}
a:hover {
  text-decoration: none;
}


aside {
  /*position*/
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*look*/
  margin-right: 10px;
  margin-bottom: 10px;
  background: #003540;
  background-image: url(../images/etoiles.png);
  color: orange;
  font-size: 85%;
  width: 225px;
  height: 175px;
  padding-left: 20px;
  border: 1px solid black;
  border-radius: 1em;
  border-top-right-radius: 10% 30%;
}


.grille {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.grille > div {
  border-radius: 3px;
  padding: 10px;
  background-color: rgba(207,232,220, 0.075);
  box-shadow: inset 0 0 0.1em gold, 0 0 0.15em red;
}



/*
section {
  position: fixed;
  top: 400px;
}*/

/*
.box {
  width:400px;
  padding: 1em;
  border-radius: .5em;
  border: 5px solid rebeccapurple;
  background-color: lightblue;
}*/

/*
.box::after {
  content: "This is a string. I know because it is quoted in the CSS."
}*/


/*.wrapper .box1, .box2, .box3 {
  border: 1px solid white;
  border-radius: 5px;
}*/

h2 {
  text-align: center;
  color: white;
}


.orangeText {
  color: orange;
}


.droits {
  color: black;
  font-size: 75%;
  position: fixed;
  bottom: 0px;
}


