html {
  font-size: 18px;
  font-family: 'Libre Franklin', sans-serif;
  background-color: #353535;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #452000;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  color: #EFDF00;
}
h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  text-shadow: 3px 3px 3px #666666;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
img {
  display: block;
  margin: 0 auto;
}
a {
  text-shadow: 1px 1px 1px #EEDD00;
}
